QL_giayit/Service References/ServiceReferenceHoaDon/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
  <xs:element name="editdonhang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tinhtrang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editdonhangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editdonhangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getallhoadon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetallhoadonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="GetallhoadonResult" nillable="true" type="q1:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themhoadon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahoadon" type="xs:int" />
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sdt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="makh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tongtien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themhoadonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_hoadon_theonam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_hoadon_theonamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_hoadon_theonamResult" nillable="true" type="q2:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dshd" nillable="true" type="q3:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laytongtientheothangResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_hoadon_theothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_hoadon_theothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_hoadon_theothangResult" nillable="true" type="q4:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheongay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dshd" nillable="true" type="q5:ArrayOfhoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheongayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laytongtientheongayResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>