QL_giayit/Service References/ServiceReferenceChiTietPhieuNhap/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceChiTietPhieuNhap" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceChiTietPhieuNhap_getallchitietphieunhap_InputMessage">
    <wsdl:part name="parameters" element="tns:getallchitietphieunhap" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_getallchitietphieunhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:getallchitietphieunhapResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Select_chitietphieunhap_theonam_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitietphieunhap_theonam" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Select_chitietphieunhap_theonam_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitietphieunhap_theonamResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_laysoluongtheothang_InputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheothang" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_laysoluongtheothang_OutputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheothangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Select_chitietphieunhap_theothang_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitietphieunhap_theothang" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Select_chitietphieunhap_theothang_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitietphieunhap_theothangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_laysoluongtheongay_InputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheongay" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_laysoluongtheongay_OutputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheongayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Themctpn_InputMessage">
    <wsdl:part name="parameters" element="tns:Themctpn" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietPhieuNhap_Themctpn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemctpnResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceChiTietPhieuNhap">
    <wsdl:operation name="getallchitietphieunhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/getallchitietphieunhap" message="tns:IServiceChiTietPhieuNhap_getallchitietphieunhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/getallchitietphieunhapResponse" message="tns:IServiceChiTietPhieuNhap_getallchitietphieunhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_chitietphieunhap_theonam">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theonam" message="tns:IServiceChiTietPhieuNhap_Select_chitietphieunhap_theonam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theonamResponse" message="tns:IServiceChiTietPhieuNhap_Select_chitietphieunhap_theonam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheothang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheothang" message="tns:IServiceChiTietPhieuNhap_laysoluongtheothang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheothangResponse" message="tns:IServiceChiTietPhieuNhap_laysoluongtheothang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_chitietphieunhap_theothang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theothang" message="tns:IServiceChiTietPhieuNhap_Select_chitietphieunhap_theothang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theothangResponse" message="tns:IServiceChiTietPhieuNhap_Select_chitietphieunhap_theothang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheongay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheongay" message="tns:IServiceChiTietPhieuNhap_laysoluongtheongay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheongayResponse" message="tns:IServiceChiTietPhieuNhap_laysoluongtheongay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Themctpn">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/Themctpn" message="tns:IServiceChiTietPhieuNhap_Themctpn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietPhieuNhap/ThemctpnResponse" message="tns:IServiceChiTietPhieuNhap_Themctpn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceChiTietPhieuNhap" type="tns:IServiceChiTietPhieuNhap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getallchitietphieunhap">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/getallchitietphieunhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_chitietphieunhap_theonam">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theonam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheothang">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheothang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_chitietphieunhap_theothang">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/Select_chitietphieunhap_theothang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheongay">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/laysoluongtheongay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Themctpn">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietPhieuNhap/Themctpn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceChiTietPhieuNhap">
    <wsdl:port name="BasicHttpBinding_IServiceChiTietPhieuNhap" binding="tns:BasicHttpBinding_IServiceChiTietPhieuNhap">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceChiTietPhieuNhap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>