QL_giayit/Service References/ServiceReferencePhieuNhap/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
  <xs:element name="getallphieunhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getallphieunhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="getallphieunhapResult" nillable="true" type="q1:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_phieunhap_theonam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_phieunhap_theonamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_phieunhap_theonamResult" nillable="true" type="q2:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dspn" nillable="true" type="q3:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laytongtientheothangResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_phieunhap_theothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_phieunhap_theothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_phieunhap_theothangResult" nillable="true" type="q4:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheongay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dspn" nillable="true" type="q5:ArrayOfphieunhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laytongtientheongayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laytongtientheongayResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Thempn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nguoinhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaynhap" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tongtien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThempnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThempnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>