giayit/Service References/ServiceReferenceTonKho/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
  <xs:element name="getalltonkho">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getalltonkhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="getalltonkhoResult" nillable="true" type="q1:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getalltonkholoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getalltonkholocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="getalltonkholocResult" nillable="true" type="q2:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_tonkho">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_tonkhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_tonkhoResult" nillable="true" type="q3:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_tonkho_theosanpham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_tonkho_theosanphamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_tonkho_theosanphamResult" nillable="true" type="q4:ArrayOftonkho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Themtk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemtkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemtkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="giamtk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="giamtkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="giamtkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Trusoluongkhidathang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrusoluongkhidathangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrusoluongkhidathangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Them">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>