giayit/Service References/ServiceReferenceTonKho/ServiceGiayit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceGiayit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftonkho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tonkho" nillable="true" type="tns:tonkho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftonkho" nillable="true" type="tns:ArrayOftonkho" />
  <xs:complexType name="tonkho">
    <xs:sequence>
      <xs:element minOccurs="0" name="masanpham" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tonkho" nillable="true" type="tns:tonkho" />
</xs:schema>