giayit/Service References/ServiceReferenceSanPham/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSanPham" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSanPham_Getallloaisanpham_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallloaisanpham" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallloaisanpham_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallloaisanphamResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallsanpham_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallsanpham" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallsanpham_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallsanphamResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallsanpham_coan_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallsanpham_coan" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallsanpham_coan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Getallsanpham_coanResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallnhacungcap_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallnhacungcap" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getallnhacungcap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallnhacungcapResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getalladmin_InputMessage">
    <wsdl:part name="parameters" element="tns:Getalladmin" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_Getalladmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetalladminResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_themsp_InputMessage">
    <wsdl:part name="parameters" element="tns:themsp" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_themsp_OutputMessage">
    <wsdl:part name="parameters" element="tns:themspResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_deletesp_InputMessage">
    <wsdl:part name="parameters" element="tns:deletesp" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_deletesp_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletespResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_kichhoat_InputMessage">
    <wsdl:part name="parameters" element="tns:kichhoat" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_kichhoat_OutputMessage">
    <wsdl:part name="parameters" element="tns:kichhoatResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editsp_InputMessage">
    <wsdl:part name="parameters" element="tns:editsp" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editsp_OutputMessage">
    <wsdl:part name="parameters" element="tns:editspResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_getsanpham_InputMessage">
    <wsdl:part name="parameters" element="tns:getsanpham" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_getsanpham_OutputMessage">
    <wsdl:part name="parameters" element="tns:getsanphamResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editslsp_InputMessage">
    <wsdl:part name="parameters" element="tns:editslsp" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editslsp_OutputMessage">
    <wsdl:part name="parameters" element="tns:editslspResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editslspgiam_InputMessage">
    <wsdl:part name="parameters" element="tns:editslspgiam" />
  </wsdl:message>
  <wsdl:message name="IServiceSanPham_editslspgiam_OutputMessage">
    <wsdl:part name="parameters" element="tns:editslspgiamResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSanPham">
    <wsdl:operation name="Getallloaisanpham">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/Getallloaisanpham" message="tns:IServiceSanPham_Getallloaisanpham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/GetallloaisanphamResponse" message="tns:IServiceSanPham_Getallloaisanpham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getallsanpham">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/Getallsanpham" message="tns:IServiceSanPham_Getallsanpham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/GetallsanphamResponse" message="tns:IServiceSanPham_Getallsanpham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getallsanpham_coan">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/Getallsanpham_coan" message="tns:IServiceSanPham_Getallsanpham_coan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/Getallsanpham_coanResponse" message="tns:IServiceSanPham_Getallsanpham_coan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getallnhacungcap">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/Getallnhacungcap" message="tns:IServiceSanPham_Getallnhacungcap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/GetallnhacungcapResponse" message="tns:IServiceSanPham_Getallnhacungcap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getalladmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/Getalladmin" message="tns:IServiceSanPham_Getalladmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/GetalladminResponse" message="tns:IServiceSanPham_Getalladmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="themsp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/themsp" message="tns:IServiceSanPham_themsp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/themspResponse" message="tns:IServiceSanPham_themsp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletesp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/deletesp" message="tns:IServiceSanPham_deletesp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/deletespResponse" message="tns:IServiceSanPham_deletesp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kichhoat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/kichhoat" message="tns:IServiceSanPham_kichhoat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/kichhoatResponse" message="tns:IServiceSanPham_kichhoat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editsp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/editsp" message="tns:IServiceSanPham_editsp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/editspResponse" message="tns:IServiceSanPham_editsp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getsanpham">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/getsanpham" message="tns:IServiceSanPham_getsanpham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/getsanphamResponse" message="tns:IServiceSanPham_getsanpham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editslsp">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/editslsp" message="tns:IServiceSanPham_editslsp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/editslspResponse" message="tns:IServiceSanPham_editslsp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editslspgiam">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSanPham/editslspgiam" message="tns:IServiceSanPham_editslspgiam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSanPham/editslspgiamResponse" message="tns:IServiceSanPham_editslspgiam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSanPham" type="tns:IServiceSanPham">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getallloaisanpham">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/Getallloaisanpham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getallsanpham">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/Getallsanpham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getallsanpham_coan">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/Getallsanpham_coan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getallnhacungcap">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/Getallnhacungcap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getalladmin">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/Getalladmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themsp">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/themsp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletesp">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/deletesp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kichhoat">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/kichhoat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editsp">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/editsp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsanpham">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/getsanpham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editslsp">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/editslsp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editslspgiam">
      <soap:operation soapAction="http://tempuri.org/IServiceSanPham/editslspgiam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSanPham">
    <wsdl:port name="BasicHttpBinding_IServiceSanPham" binding="tns:BasicHttpBinding_IServiceSanPham">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceSanPham/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>