giayit/Service References/ServiceReferenceChiTietHoaDon/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceChiTietHoaDon" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceChiTietHoaDon_Getallchitiethoadon_InputMessage">
    <wsdl:part name="parameters" element="tns:Getallchitiethoadon" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Getallchitiethoadon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetallchitiethoadonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_themchitiethoadon_InputMessage">
    <wsdl:part name="parameters" element="tns:themchitiethoadon" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_themchitiethoadon_OutputMessage">
    <wsdl:part name="parameters" element="tns:themchitiethoadonResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theonam_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theonam" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theonam_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theonamResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_laysoluongtheothang_InputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheothang" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_laysoluongtheothang_OutputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheothangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theothang_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theothang" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theothang_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theothangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_laysoluongtheongay_InputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheongay" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_laysoluongtheongay_OutputMessage">
    <wsdl:part name="parameters" element="tns:laysoluongtheongayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theomahd_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theomahd" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_Select_chitiethoadon_theomahd_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_chitiethoadon_theomahdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_trusoluongdathang_InputMessage">
    <wsdl:part name="parameters" element="tns:trusoluongdathang" />
  </wsdl:message>
  <wsdl:message name="IServiceChiTietHoaDon_trusoluongdathang_OutputMessage">
    <wsdl:part name="parameters" element="tns:trusoluongdathangResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceChiTietHoaDon">
    <wsdl:operation name="Getallchitiethoadon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Getallchitiethoadon" message="tns:IServiceChiTietHoaDon_Getallchitiethoadon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/GetallchitiethoadonResponse" message="tns:IServiceChiTietHoaDon_Getallchitiethoadon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="themchitiethoadon">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/themchitiethoadon" message="tns:IServiceChiTietHoaDon_themchitiethoadon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/themchitiethoadonResponse" message="tns:IServiceChiTietHoaDon_themchitiethoadon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theonam">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theonam" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theonam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theonamResponse" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theonam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheothang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheothang" message="tns:IServiceChiTietHoaDon_laysoluongtheothang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheothangResponse" message="tns:IServiceChiTietHoaDon_laysoluongtheothang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theothang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theothang" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theothang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theothangResponse" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theothang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheongay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheongay" message="tns:IServiceChiTietHoaDon_laysoluongtheongay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheongayResponse" message="tns:IServiceChiTietHoaDon_laysoluongtheongay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theomahd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theomahd" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theomahd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theomahdResponse" message="tns:IServiceChiTietHoaDon_Select_chitiethoadon_theomahd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="trusoluongdathang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/trusoluongdathang" message="tns:IServiceChiTietHoaDon_trusoluongdathang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChiTietHoaDon/trusoluongdathangResponse" message="tns:IServiceChiTietHoaDon_trusoluongdathang_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceChiTietHoaDon" type="tns:IServiceChiTietHoaDon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getallchitiethoadon">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/Getallchitiethoadon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themchitiethoadon">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/themchitiethoadon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theonam">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theonam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheothang">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheothang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theothang">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theothang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laysoluongtheongay">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/laysoluongtheongay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_chitiethoadon_theomahd">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/Select_chitiethoadon_theomahd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trusoluongdathang">
      <soap:operation soapAction="http://tempuri.org/IServiceChiTietHoaDon/trusoluongdathang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceChiTietHoaDon">
    <wsdl:port name="BasicHttpBinding_IServiceChiTietHoaDon" binding="tns:BasicHttpBinding_IServiceChiTietHoaDon">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceChiTietHoaDon/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>