giayit/Service References/ServiceReferenceChiTietHoaDon/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
  <xs:element name="Getallchitiethoadon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetallchitiethoadonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="GetallchitiethoadonResult" nillable="true" type="q1:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themchitiethoadon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahoadon" type="xs:int" />
        <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
        <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giasp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="themchitiethoadonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theonam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theonamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_chitiethoadon_theonamResult" nillable="true" type="q2:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laysoluongtheothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dscthd" nillable="true" type="q3:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laysoluongtheothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laysoluongtheothangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theothang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theothangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_chitiethoadon_theothangResult" nillable="true" type="q4:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laysoluongtheongay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="dscthd" nillable="true" type="q5:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="laysoluongtheongayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="laysoluongtheongayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theomahd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_chitiethoadon_theomahdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceGiayit" minOccurs="0" name="Select_chitiethoadon_theomahdResult" nillable="true" type="q6:ArrayOfchitiethoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trusoluongdathang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mahd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trusoluongdathangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trusoluongdathangResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>