giayit/Service References/ServiceReferenceAccount/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAccount" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceGiayit" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAccount_GetAllTaiKhoan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaiKhoan" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_GetAllTaiKhoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaiKhoanResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_Getalluser_InputMessage">
    <wsdl:part name="parameters" element="tns:Getalluser" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_Getalluser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetalluserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_edituser_InputMessage">
    <wsdl:part name="parameters" element="tns:edituser" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_edituser_OutputMessage">
    <wsdl:part name="parameters" element="tns:edituserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_deleteuser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteuser" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_deleteuser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteuserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_ChangeInformationAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInformationAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceAccount_ChangeInformationAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeInformationAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAccount">
    <wsdl:operation name="GetAllTaiKhoan">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/GetAllTaiKhoan" message="tns:IServiceAccount_GetAllTaiKhoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/GetAllTaiKhoanResponse" message="tns:IServiceAccount_GetAllTaiKhoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getalluser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/Getalluser" message="tns:IServiceAccount_Getalluser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/GetalluserResponse" message="tns:IServiceAccount_Getalluser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/AddAccount" message="tns:IServiceAccount_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/AddAccountResponse" message="tns:IServiceAccount_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edituser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/edituser" message="tns:IServiceAccount_edituser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/edituserResponse" message="tns:IServiceAccount_edituser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteuser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/deleteuser" message="tns:IServiceAccount_deleteuser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/deleteuserResponse" message="tns:IServiceAccount_deleteuser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/ChangePassword" message="tns:IServiceAccount_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/ChangePasswordResponse" message="tns:IServiceAccount_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeInformationAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccount/ChangeInformationAccount" message="tns:IServiceAccount_ChangeInformationAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccount/ChangeInformationAccountResponse" message="tns:IServiceAccount_ChangeInformationAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAccount" type="tns:IServiceAccount">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaiKhoan">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/GetAllTaiKhoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getalluser">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/Getalluser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edituser">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/edituser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteuser">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/deleteuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeInformationAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceAccount/ChangeInformationAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAccount">
    <wsdl:port name="BasicHttpBinding_IServiceAccount" binding="tns:BasicHttpBinding_IServiceAccount">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceGiayit/ServiceAccount/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>